.Breakfast__body{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: rgb(255, 181, 111);
    height: 2350px;
    width: 75rem;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.Breakfast__cardBody{
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardContent{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cardContent p{
    width: 48rem;
}